root = true

[*]
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.f]
indent_style = space
indent_size = 2
max_line_length = 72

[*.{f90,F90}]
indent_style = space
indent_size = 3
max_line_length = 80

[{*.py,SConstruct}]
indent_style = space
indent_size = 4
max_line_length = 88
